@charset "UTF-8";
/*REGRA @charset caso haja problemas com acentuação*/
body{
    background-color: rgb(21, 34, 0) ;
    width: 1200px;
    margin: auto;
    padding: auto;
}

.title{
    background-color: black;
    padding: 0%;
    border: 6px ridge white;
    margin: 1%;
    text-align: center;
    color: rgb(255, 251, 251);
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 1000;
}

#menu {
    margin: 0%;
    text-align:center;
    text-transform:uppercase;
}

#menu li{
	list-style:none;
    font-size: xx-large;
    display: inline;
    border: 3px ridge rgb(2, 2, 2);
    margin: 6%;
    padding: 0.1%;
}
    
#menu a {
        background-color: black;
        text-decoration: none;
        color: rgb(248, 246, 246);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
.subtitle{
    font-size: x-large;
    color:chartreuse;
}

.post {
    background-color: rgb(84, 138, 30);
    padding:5px;
    border: 1.5px solid rgb(0, 0, 0);
    margin: 5px;
}

.post.texto{
    font-size: x-large;
    text-align: center;
}

.canais li{
        display: inline;
        padding: 160px;       
}